@font-face {
	font-family: "nameFont";
	src: url("../resources/KBTurningGears.ttf");
}

@font-face {
	font-family: "symbolFont";
	src: url("../resources/Gears Icons.otf");
}

@font-face {
	font-family: "dropCaps";
	src: url("../resources/rosecaps.ttf");
}

@font-face {
	font-family: "Althea";
	src: url("../resources/Althea-Regular.ttf");
}
