@font-face {
	font-family: "nameFont";
	src: url("../resources/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
	font-family: "symbolFont";
	src: url("../resources/wminsects1.ttf");
}

@font-face {
	font-family: "dropCaps";
	src: url("../resources/rosecaps.ttf");
}

@font-face {
	font-family: "Althea";
	src: url("../resources/Althea-Regular.ttf");
}
